---
layout: default
title: Medical Aesthetics in Prior Lake
---

{% include hero/carousel.html %}

<div class="container-fluid py-4 py-xl-5" style="background: #f6f2ed;--bs-light: #f6f2ed;--bs-light-rgb: 246,242,237;">
    <div class="row mb-4 mb-lg-5">
        <div class="col-md-10 col-xl-8 text-center mx-auto">
            <h2>Our Services</h2>
            <h5 class="py-4 review">Click on each service to learn more</h5>
            <div class="row gy-4 row-cols-2 row-cols-lg-4">
                <div class="col" style="height: 200px;"><a class="w-100 h-100" href="/services/botox.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Botox</button></a></div>
                <div class="col" style="height: 200px;"><a class="w-100 h-100" href="/services/filler.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Filler</button></a></div>
                <div class="col" style="height: 200px;"><a class="w-100 h-100"
                        href="/services/microneedling.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Microneedling</button></a></div>
                <div class="col" style="height: 200px;"><a class="w-100 h-100" href="/services/sculptra.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Sculptra</button></a></div>
                <div class="col" style="height: 200px;"><a class="w-100 h-100"
                        href="/services/consultation.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Consultation</button></a></div>
                <div class="col" style="height: 200px;"><a class="w-100 h-100"
                        href="/services/chemical_peel.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Chemical Peel</button></a></div>
                <div class="col" style="height: 200px;"><a class="w-100 h-100"
                        href="/services/undereye_rejuvenation.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Undereye Rejuvenation</button></a></div>
                <div class="col" style="height: 200px;"><a class="w-100 h-100"
                        href="/services/hair_restoration.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Hair Restoration</button></a></div>

                <!-- Spacer for last two items to be centered on large screens -->
                <div class="col d-none d-lg-inline" style="height: 200px;"></div>

                <div class="col" style="height: 200px;"><a class="w-100 h-100"
                        href="/services/neck_restoration.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Neck Restoration</button></a></div>
                <div class="col" style="height: 200px;"><a class="w-100 h-100"
                        href="/services/skin_hydrators.html"><button
                            class="btn btn-outline-primary w-100 h-100 review service-button"
                            type="button">Skin Hydrators</button></a></div>
            </div>
        </div>
    </div>
</div>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="h-100 align-items-center align-content-center"><img
                        class="rounded img-fluid border border-0" width="600" height="800"
                        src="/assets/images/Home/Images/3-4/About_lg.png"></div>
            </div>
            <div class="col-lg-6 d-lg-none">
                <div class="h-100 align-items-center align-content-center"><img
                        class="rounded img-fluid border border-0" width="780" height="520"
                        src="/assets/images/Home/Images/3-2/About_sm.png"></div>
            </div>
            <div class="col-lg-6">
                <div
                    class="text-white bg-primary border rounded border-0 h-100 align-items-center align-content-center p-4 py-4">
                    <h1 class="fw-bold text-white mb-3 py-2">Simply You</h1>
                    <p class="mb-4 review">Simply You, Nurse Aesthetics was founded to bring expert, natural aesthetic
                        care to downtown Prior Lake. With 17 years of nursing experience, I combine professional care,
                        commitment to ongoing learning, and evidence based practices to deliver next-level results. My
                        approach is personal, collaborative, and focused on enhancing your natural beauty—not changing
                        it. I take the time to educate, listen, and build treatment plans tailored to your goals. At
                        Simply You, you’ll find a warm, welcoming space where your individuality is honored and your
                        confidence is elevated—subtly, beautifully, and always with care.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid py-4 py-xl-5" style="background: #f6f2ed;--bs-light: #f6f2ed;--bs-light-rgb: 246,242,237;">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Reviews</h2>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
        <div class="col">
            <div>
                <p class="border rounded border-0 p-4 review"
                    style="background: #ffffff;--bs-light: #ffffff;--bs-light-rgb: 255,255,255;"><span
                        style="color: rgb(31, 31, 31);">I can't say enough great things about Laura. From the moment I
                        walked into her welcoming space, I knew immediately I was in the right place. Laura took the
                        time to get to know me and my skin concerns. Not only is Laura incredibly knowledgeable and
                        professional, but her touch is gentle yet effective. Laura is truly amazing at what she
                        does!</span></p>
                <div class="d-flex"><img class="rounded-circle object-fit-cover flex-shrink-0 me-3" width="50"
                        height="50" src="/assets/images/Avatars/blond.png">
                    <div>
                        <p class="fw-bold text-primary mb-0">AMY</p>
                        <ul class="list-inline fs-6 text-muted w-100 mb-0">
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-none d-lg-block">
            <div>
                <p class="border rounded border-0 p-4 review"
                    style="background: #ffffff;--bs-light: #ffffff;--bs-light-rgb: 255,255,255;"><span
                        style="color: rgb(31, 31, 31);">Laura is so kind and knowledgeable. She explains the procedures
                        thoroughly and makes sure you are comfortable. My microneedling sessions were easy, painless and
                        I’ve gotten great results! Could not recommend Laura enough!&nbsp;</span></p>
                <div class="d-flex"><img class="rounded-circle object-fit-cover flex-shrink-0 me-3" width="50"
                        height="50" src="/assets/images/Avatars/red.png">
                    <div>
                        <p class="fw-bold text-primary mb-0">Molly</p>
                        <ul class="list-inline fs-6 text-muted w-100 mb-0">
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <p class="border rounded border-0 p-4 review"
                    style="background: #ffffff;--bs-light: #ffffff;--bs-light-rgb: 255,255,255;"><span
                        style="color: rgb(31, 31, 31);">I'm consistently impressed by how beautiful and welcoming the
                        space is; it truly makes you feel at ease. Laura is an exceptional professional, and her
                        expertise in specialized treatments is unmatched. I honestly wouldn't go anywhere else</span>
                </p>
                <div class="d-flex"><img class="rounded-circle object-fit-cover flex-shrink-0 me-3" width="50"
                        height="50" src="/assets/images/Avatars/brunette.png">
                    <div>
                        <p class="fw-bold text-primary mb-0">ABI</p>
                        <ul class="list-inline fs-6 text-muted w-100 mb-0">
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-star-fill" style="color: var(--bs-warning);">
                                        <path
                                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                                        </path>
                                    </svg></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%include block/subscribe.html%}