---
layout: default
title: Chemical Peel & Medical Aesthetics in Prior Lake
---

{%include hero/hero.html
large_url="/assets/images/Services/Images/Chemical_Peel_Hero_16_9_large.png"
small_url="/assets/images/Services/Images/Chemical_Peel_Hero_3_2_small.png"
text_overlay="Chemical Peel"
alt="Chemical Peel at Simply You"%}


<section class="py-4 py-xl-5" style="background: #f6f2ed;--bs-light: #f6f2ed;--bs-light-rgb: 246,242,237;">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="h-100 align-items-center align-content-center">
                    <img class="rounded img-fluid border border-0" width="600" height="800"
                        src="/assets/images/Services/Images/Chemical_Peel_3_4_large.png"
                        alt="Patient receiving a Chemical Peel Treatment at Simply You">
                </div>
            </div>
            <div class="col-lg-6 d-lg-none">
                <div class="h-100 align-items-center align-content-center">
                    <img class="rounded img-fluid border border-0" width="780" height="520"
                        src="/assets/images/Services/Images/Chemical_Peel_3_2_small.png"
                        alt="Patient receiving a Chemical Peel Treatment at Simply You">
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="text-white bg-primary border rounded border-0 h-100 align-items-center align-content-center p-4 py-4">
                    <h4 class="review">Reveal Your Radiance</h4>
                    <br /> <br />
                    <p class="mb-4 review">
                        Skin, like nature, follows a cycle of renewal. Every day, it sheds the past; dead skin cells,
                        environmental stressors, and the subtle imprints of time. But as we age, this process slows,
                        leaving behind a dull, uneven complexion that no longer reflects the vibrant energy we feel
                        inside. At Simply You, we embrace the power of transformation through medical-grade <b>chemical
                            peels</b>.
                        <br /><br />
                        Harnessing the science of skin renewal, our expertly curated peels work beyond the surface to
                        reveal a complexion that is brighter, smoother, and more refined. Whether you’re seeking to
                        refresh dull skin, correct stubborn pigmentation, or smooth fine lines, our peels are tailored
                        to your individual needs, allowing you to shed the past and embrace a future of healthy, glowing
                        skin.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="row mb-lg-5">
            <div class="col-md-10 col-xl-8 text-center mx-auto">
                <h2>What conditions do chemical peels address?</h2>
                <p class="review">Chemical peels are a great option for treating:
                    <br />
                <ul class="review text-start">
                    <li>Uneven skin tone and hyperpigmentation</li>
                    <li>Fine lines, wrinkles, and early signs of aging</li>
                    <li>Acne and post-inflammatory scarring</li>
                    <li>Sun damage and dark spots</li>
                    <li>Rough texture and enlarged pores</li>
                    <li>Dull, tired-looking skin lacking vibrancy</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5" style="background: #f6f2ed;--bs-light: #f6f2ed;--bs-light-rgb: 246,242,237;">
    <div class="container">
        <div class="row mb-lg-5">
            <div class="col-md-10 col-xl-8 text-center mx-auto">
                <h2>Treatment at a glance:</h2>
                <p class="text-center review"><br /><span style="text-decoration: underline;">TREATMENT TIME</span>
                    <br />
                    <span>45 minutes</span>
                    <br /><br />
                    <span style="text-decoration: underline;">RECOVERY</span><br />
                    <span>
                        Light peeling for 3-5 days (varies by peel strength)
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>


{%include block/faq_block.html%}