---
layout: default
title: Consultation
---

{%include hero/services_hero.html
large_url="/assets/images/Services/Images/Consultation_Hero_16_9_large.png"
small_url="/assets/images/Services/Images/Consultation_Hero_3_2_small.png"
text_overlay="Consultation"%}

<section class="py-4 py-xl-5" style="background: #f6f2ed;--bs-light: #f6f2ed;--bs-light-rgb: 246,242,237;">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="h-100 align-items-center align-content-center">
                    <img class="rounded img-fluid border border-0" width="600" height="800"
                        src="/assets/images/Services/Images/Consultation_3_4_large.png"
                        alt="Patient getting a consultation at Simply You">
                </div>
            </div>
            <div class="col-lg-6 d-lg-none">
                <div class="h-100 align-items-center align-content-center">
                    <img class="rounded img-fluid border border-0" width="780" height="520"
                        src="/assets/images/Services/Images/Consultation_3_2_small.png"
                        alt="Patient getting a consultation at Simply You">
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="text-white bg-primary border rounded border-0 h-100 align-items-center align-content-center p-4 py-4">
                    <h4 class="review">EXPERT-LED AESTHETIC CARE TAILORED TO YOU</h4><br /> <br />
                    <p class="mb-4 review">At Simply You, your care is our priority. Whether you're exploring treatment
                        options or seeking more information, Simply You is here to provide expert guidance every step of
                        the way. We believe in a personalized, science-driven approach to aesthetics ensuring that every
                        recommendation is tailored to your unique goals.
                        <br /><br />
                        Your journey starts here. Book a complimentary consultation to answer your questions and create
                        a tailored plan to your unique goals. We look forward to getting to know you at Simply You.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{%include block/faq_block.html%}