---
layout: default
title: Undereye Rejuvenation & Medical Aesthetics in Prior Lake
---

{%include hero/hero.html
large_url="/assets/images/Services/Images/Under_Eye_Restoration_Hero_16_9_large.png"
small_url="/assets/images/Services/Images/Under_Eye_Restoration_Hero_3_2_small.png"
text_overlay="Undereye Rejuvenation"
alt="Undereye Rejuvenation at Simply You" %}


<section class="py-4 py-xl-5" style="background: #f6f2ed;--bs-light: #f6f2ed;--bs-light-rgb: 246,242,237;">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="h-100 align-items-center align-content-center">
                    <img class="rounded img-fluid border border-0" width="600" height="800"
                        src="/assets/images/Services/Images/Under_Eye_Restoration_3_4_large.png"
                        alt="Patient receiving Undereye Rejuvenation Treatment at Simply You">
                </div>
            </div>
            <div class="col-lg-6 d-lg-none">
                <div class="h-100 align-items-center align-content-center">
                    <img class="rounded img-fluid border border-0" width="780" height="520"
                        src="/assets/images/Services/Images/Under_Eye_Restoration_3_2_small.png"
                        alt="Patient receiving Undereye Rejuvenation Treatment at Simply You">
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="text-white bg-primary border rounded border-0 h-100 align-items-center align-content-center p-4 py-4">
                    <h4 class="review">BRIGHTEN &amp; REJUVENATE</h4>
                    <br />
                    <p class="mb-4 review">At Simply You under eye restoration is approached with the same
                        science-driven precision we apply to aesthetics and regenerative medicine. We use powerful
                        regenerative therapies like PRP and PDGF treatments, to revitalize the under-eye area, reducing
                        dark circles, fine lines, and hollowness.
                        <br /><br />
                        <em>Platelet-Rich Plasma (PRP) Therapy</em>
                        <br /><br />
                        PRP uses your body's own healing factors to stimulate collagen production which can reduce the
                        appearance of dark circles. This treatment works by drawing a small sample of your blood,
                        isolating the platelet-rich portion, and injecting it in your under-eye area.
                        <br /><br />
                        <em>Platelet Derived Growth Factors (PDGF) Therapy</em>
                        <br /><br />
                        This under eye rejuvenation treatment uses platelet derived growth factors (PDGF) to focus on
                        stimulating collagen and elastin production for improved skin thickness, firmness, and overall
                        appearance. Unlike PRP, PDGF is a lab-engineered, pharmaceutical-grade version, offering
                        consistent results without the need for a blood draw. It's a next-generation solution, offering
                        up to 300,000 times the results of traditional PRP injections, for addressing under-eye hollows,
                        thinning skin, and dark circles. PDGF offers a more natural and longer-lasting solution than
                        traditional fillers or lasers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="row mb-lg-5">
            <div class="col-md-10 col-xl-8 text-center mx-auto">
                <h2>Treatment at a glance:</h2>
                <p class="text-center review">
                    <br />
                    <span style="text-decoration: underline;">OVERVIEW</span>
                    <br />
                    <span>Minimally invasive skin rejuvenation.</span>
                    <br /><br />
                    <span style="text-decoration: underline;">RECOVERY</span>
                    <br />
                    <span>Minimal, Redness typically 24-48 hours under your eyes</span>
                    <br /><br />
                    <span style="text-decoration: underline;">BENEFITS</span>
                    <br />
                    <span>Enhanced collagen production and thicker skin in your under eye hallows</span>
                    <br /><br />
                    <span style="text-decoration: underline;">IDEAL FOR</span>
                    <br />
                    <span>Mild to Moderate under eye hallowing or dark circles and those who prefer a natural alternate
                        to treat under eyes</span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5" style="background: #f6f2ed;--bs-light: #f6f2ed;--bs-light-rgb: 246,242,237;">
    <div class="container">
        <div class="row mb-lg-5">
            <div class="col-md-10 col-xl-8 text-center mx-auto">
                <h2>Treatment Recommendations:</h2>
                <p class="text-center review">
                    <br />
                    <span style="text-decoration: underline;">INITIAL TREATMENTS</span>
                    <br />
                    <span>A series of two to three spaced 6-8 weeks apart</span>
                    <br /><br />
                    <span style="text-decoration: underline;">ONGOING TREATMENTS</span>
                    <br />
                    <span>Maintenance session every 12 months</span>
                </p>
            </div>
        </div>
    </div>
</section>


{%include block/faq_block.html%}