<section class="py-4 py-xl-5">
    <div class="container h-100">
        <div class="text-white bg-primary border rounded border-0 p-4 py-5">
            <div class="row h-100">
                <div
                    class="col-md-10 col-xl-8 text-center d-flex justify-content-center align-items-center justify-content-xl-center mx-auto">
                    <div>
                        <h1 class="fw-bold text-white mb-3">FAQ</h1>
                        <p class="review">Click <a href="/faq.html" style="text-decoration: none; color: white;">here</a> to get answers to other commonly asked questions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>