<div class="carousel slide carousel-fade hero" data-bs-ride="carousel" id="hero-carousel">
  <div class="carousel-inner h-100">
    {% for number in (1..3) %}
    <div class="carousel-item{% if forloop.first %} active{% endif %} h-100">
      <picture>
        <source media="(min-width: 768px)"
          srcset="/assets/images/Home/Hero/16-9/Hero_{{ number }}_lg.avif" type="image/avif" width="1920" height="1080">
        <source media="(min-width: 768px)"
          srcset="/assets/images/Home/Hero/16-9/Hero_{{ number }}_lg.png" type="image/png" width="1920" height="1080">
        <source srcset="/assets/images/Home/Hero/3-2/Hero_{{ number }}_sm.avif" type="image/avif" width="1200" height="800">
        <img class="object-fit-cover w-100 d-block position-absolute h-100"
          src="/assets/images/Home/Hero/3-2/Hero_{{ number }}_sm.png"
          alt="Simply You Nurse Aesthetics treatment space in Prior Lake, Minnesota"
          width="1200" height="800"
          {% if forloop.first %}fetchpriority="high"{% else %}loading="lazy" fetchpriority="low"{% endif %}
          decoding="async">
      </picture>
    </div>
    {% endfor %}
  </div>
  <div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="carousel-indicators">
    {% for number in (1..3) %}
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="{{ forloop.index0 }}"
      {% if forloop.first %}class="active" aria-current="true"{% endif %}
      aria-label="Show slide {{ number }}"></button>
    {% endfor %}
  </div>
</div>
