<div class="d-none d-md-block" style="height: 600px;">
    <div class="h-100">
        <div class="h-100"><img class="object-fit-cover w-100 d-block position-absolute h-100"
                src="/assets/images/Services/Images/Hero_16_9_large.png" alt="Attentive Care to a Patient at Simply You" style="z-index: -1;"></div>
    </div>
</div>
<div class="d-md-none" style="height: 600px;">
    <div class="h-100">
        <div class="h-100"><img class="object-fit-cover w-100 d-block position-absolute h-100"
                src="/assets/images/Services/Images/Hero_3_2_small.png" alt="Attentive Care to a Patient at Simply You" style="z-index: -1;"></div>
    </div>
</div>