<div class="d-none d-md-block" style="height:600px"> <!-- style="height:600px;"" Large Image-->
    <div class="d-flex justify-content-center align-items-center h-100"
        style="background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('{{include.large_url}}'); background-size: cover;">
        <h1 style="color: black; font-size:5rem;">{{include.text_overlay}}</h1>
    </div>
</div>

<div class="d-md-none" style="height:600px;"> <!-- Small Image (Should this be less than 600px?)-->
    <div class="d-flex justify-content-center align-items-center h-100"
        style="background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('{{include.small_url}}'); background-size: cover;">
        <h1 style="color: black; font-size:5rem;">{{include.text_overlay}}</h1>
    </div>
</div>