<nav class="navbar" style="background: #f6f2ed;--bs-light: #f6f2ed;--bs-light-rgb: 246,242,237;">
    <div class="container justify-content-center">
        <a class="navbar-brand" href="/" aria-label="Simply You Nurse Aesthetics home">
            <picture>
                <source srcset="/assets/images/Header/SimplyYou-172.avif 172w, /assets/images/Header/SimplyYou-344.avif 344w"
                    sizes="172px" type="image/avif">
                <img class="align-items-center" src="/assets/images/Header/SimplyYou-172.png"
                    alt="Simply You Nurse Aesthetics" width="172" height="100" decoding="async">
            </picture>
        </a>
    </div>
</nav>
