<nav class="navbar navbar-expand-lg sticky-top bg-body py-3">
    <div class="container container-fluid">
        <a class="btn btn-primary" role="button" href="#"
            style="--bs-btn-bg: #535442; --bs-btn-border-color: #535442;">Book</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3">
            <span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-3">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <div class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                            href="#">Services</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/services/botox.html">Botox</a>
                            <a class="dropdown-item" href="/services/filler.html">Filler</a>
                            <a class="dropdown-item" href="/services/microneedling.html">Microneedling</a>
                            <a class="dropdown-item" href="/services/sculptra.html">Sculptra</a>
                            <a class="dropdown-item" href="/services/consultation.html">Consultation</a>
                            <a class="dropdown-item" href="/services/chemical_peel.html">Chemical Peel</a>
                            <a class="dropdown-item" href="/services/undereye_rejuvenation.html">Undereye Rejuvenation</a>
                            <a class="dropdown-item" href="/services/hair_restoration.html">Hair Restoration</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/skincare.html">Skincare</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/promotions.html">Promotions</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact.html">Contact Us</a></li>
            </ul>
        </div>
        <a class="btn btn-primary" role="button" href="https://simplyyounurse.isclinical.com" target="_blank"
            style="--bs-btn-bg: #535442; --bs-btn-border-color: #535442;">Shop</a>
    </div>
</nav>