<nav class="navbar navbar-expand-lg sticky-top bg-body py-3">
    <div class="container container-fluid">
        <a class="btn btn-primary" role="button" href="#"
            style="--bs-btn-bg: #535442; --bs-btn-border-color: #535442;">Book</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3">
            <span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-3">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <div class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                            href="#">Services</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/services/botox.html">Botox</a>
                            <a class="dropdown-item" href="#">Filler</a>
                            <a class="dropdown-item" href="#">Microneedling</a>
                            <a class="dropdown-item" href="/services/sculptra.html">Sculptra</a>
                            <a class="dropdown-item" href="#">Consultation</a>
                            <a class="dropdown-item" href="#">Chemical Peel</a>
                            <a class="dropdown-item" href="#">Undereye Rejuvenation</a>
                            <a class="dropdown-item" href="#">Hair Restoration</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Skincare</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Promotions</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
            </ul>
        </div>
        <a class="btn btn-primary" role="button" href="#"
            style="--bs-btn-bg: #535442; --bs-btn-border-color: #535442;">Shop</a>
    </div>
</nav>